<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDT3o4tuNfgGgyUr1M_AiD51bH3mIshleg</string>
	<key>GCM_SENDER_ID</key>
	<string>681354146630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterbasicunderstanding</string>
	<key>PROJECT_ID</key>
	<string>bloc-ab242</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-ab242.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681354146630:ios:8c6514a0681eb161486b47</string>
</dict>
</plist>